---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to connectbox.">
  <h1 class="text-2xl">Test index template</h1>
  <p>Jinja2 variable: {"{{ test_variable }}"}</p>

  <ul class="grid">
    {"{% for item in navigation %}"}
      <li>List item: {"{{ item.caption }}"}</li>
    {"{% endfor %}"}
  </ul>
</Layout>